* {
  box-sizing: border-box;
}

.hero-container {
  background-color: #37517e;
  width: auto;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 3rem 2rem 3rem 3rem;
}

.hero-buttonContainer {
  display: flex;
  flex-direction: row;
}

.hero-image {
  display: none;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn-getStarted {
  font-size: 0.9em;
}

.hero-header {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.hero-paragraph {
  color: #ffffff60;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin: 0;
  margin-bottom: 1rem;
}

.hero-button {
  background-color: #47b2e4;
  padding: 15px 20px;
  color: white;
  border-radius: 100px;
  border: 0;
  margin-bottom: 1vh;
}

.content {
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5fa;
  width: auto;
}

.content-title {
  font-size: 1.6em;
}

.content-paragraph {
  font-size: 0.8em;
}

.input-subscribe {
  display: flex;
  width: auto;
  padding: 0.1rem;
  padding-left: 0.8rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #fff;
  border-radius: 50px;
}

.input-subscribe input {
  width: auto;
  height: 3rem;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

.input-subscribe button {
  height: 3.5rem;
  width: auto;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #47b2e4;
  border-style: none;
  border-radius: 50px;
  padding: 0 0.3rem;
  cursor: pointer;
  outline: none;
}

.footer-1-container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  padding: 2rem 1rem;
}

.footer-1-container p {
  margin: 0;
  margin-top: 1rem;
}

.footer-title {
  font-weight: 600;
  color: #37517e;
}

.arsha {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li {
  padding-bottom: 1.2rem;
  font-weight: 400;
}

.footer-1-sub {
  margin-right: 1rem;
}

.btn-socials {
  margin-top: 0.5rem;
}

.btn-social {
  background-color: #47b2e4;
  padding: 1.3em;
  border: none;
  margin-right: 0.5rem;
  border-radius: 1rem;
}

/* Tablet Size */
@media screen and (min-width: 768px) {
  .footer-1-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 3rem;
  }

  .hero-image img {
    width: 45vh;
  }

  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-paragraph {
    font-size: 1rem;
  }

  .hero-container {
    background-color: #37517e;
    width: auto;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 3rem 2rem 3rem 3rem;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
  }

  .hero-buttonContainer {
    display: flex;
    flex-direction: row;
  }

  .hero-button {
    background-color: #47b2e4;
    padding: 13px 30px;
    color: white;
    border-radius: 100px;
    border: 0;
    margin-bottom: 1vh;
  }

  .input-subscribe {
    display: flex;
    width: auto;
    padding: 0.1rem;
    padding-left: 0.8rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    border-radius: 50px;
  }

  .input-subscribe input {
    width: 45vh;
    height: 3rem;
    background: none;
    border: 0;
    padding: 0;
    outline: none;
  }

  .input-subscribe button {
    height: 3.5rem;
    width: auto;
    background-color: #47b2e4;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
    padding: 0 2rem;
    cursor: pointer;
    outline: none;
  }

  .footer-1-container p {
    margin: 0;
    margin-top: 1rem;
    padding-right: 0.5rem;
  }

  .footer-title {
    font-weight: 600;
    color: #37517e;
  }

  .arsha {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
  }

  .content-title {
    font-size: 1.8em;
  }

  .content-paragraph {
    font-size: 0.9em;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .footer-1-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 2rem 3.5rem;
  }

  .hero-image img {
    width: 40vw;
  }

  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-container {
    background-color: #37517e;
    width: auto;
    height: 60vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 5rem 2rem 3rem 5rem;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
  }

  .hero-paragraph {
    font-size: 1.4rem;
    width: 60vh;
  }

  .hero-header {
    font-size: 4em;
  }

  .arsha-address {
    width: 25vh;
  }

  .content-title {
    font-size: 2em;
  }

  .content-paragraph {
    font-size: 1em;
  }

  .hero-button {
    font-size: 1.1em;
    margin-top: 3rem;
  }

  .input-subscribe {
    display: flex;
    width: auto;
    padding: 0.1rem;
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    border-radius: 50px;
  }

  .input-subscribe input {
    width: 55vh;
    height: 3rem;
    background: none;
    border: 0;
    padding: 0;
    outline: none;
  }

  .input-subscribe button {
    height: 3.5rem;
    width: auto;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
    padding: 0 3rem;
    cursor: pointer;
    outline: none;
  }

  .btn-social {
    background-color: #47b2e4;
    padding: 1.3em;
    border: none;
    margin-right: 0.2rem;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    height: 45vw;
  }
}
